<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        h1 {
            margin: 20px;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: inline-block;
        }

        form {
            margin: 20px;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: inline-block;
        }

        input {
            padding: 5px 2px;
            width: 100%;
        }

        textarea {
            margin: 10px 0;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 100%;
        }

        button {
            margin-left: 25px;
            margin-top: 10px;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>

<body>
    <div>
        <h1>Write New Chat</h1>
        <form action="/chats" method="post">
            <input type="text" name="from" placeholder="Who are you" required>
            <textarea name="msg" id="" cols="30" rows="10" placeholder="Massage" required></textarea>
            <input type="text" name="to" placeholder="reciver name" required>
            <button type="submit">Create Chat</button>
        </form>
    </div>
</body>

</html>